node_modules/
dist/
lib/
lib-commonjs/
temp/
release/
jest-output/
.env
.env.local
.DS_Store
*.log
*.zip
.vite/
coverage/
infra/file-handler-id.txt
**/infra/file-handler-id.txt
spfx-bpmn-command-set/
